.contactMain {
    position: fixed;
    top: 4vh;
    left: 5vw;
    width: 80vw;
    height: 75vh;
    box-sizing: border-box;
    background-color: rgba(34, 32, 19, 0.372);
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
    text-align: left;
    z-index: 201;
    transform: translateX(100%);
}
.contactUnvisibleblock1,
.contactUnvisibleblock2 {
    box-sizing: border-box;
    padding: 3vh 3vw;
    width: 50%;
}
.contactUnvisibleblock2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contactUnvisibleblock2__icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactUnvisibleblock1 {
    max-width: 30vw;
    margin: auto;
}
.contactMain input,
.contactMain textarea {
    background-color: rgba(5.1, 23.5, 23.5, 0.933);
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    outline: none;
}
.contactMain textarea {
    padding: 0.5vh 0.5vw;
    box-sizing: border-box;
}
.contactMain input:focus-visible,
.contactMain textarea:focus-visible {
    border-color: red;
}

.contactUnvisibleblock1_1 {
    padding-bottom: 1vh;
}
.contactUnvisibleblock1_1 input {
    width: 100%;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 0.4vh;
}
.formContactMessageTextarea {
    margin-top: 0.3vh;
    width: 100%;
    max-width: 100%;
    height: 13vh;
    max-height: 20vh;
    border-radius: 5px;
    font-size: 1.2rem;
}
.contactFormButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}
.contactFormButtons button {
    background-color: rgb(176, 136, 7);
    font-size: 1.5rem;
    border-radius: 5px;
    color: whitesmoke;
    padding: 0.3vh 0.3vw;
    cursor: pointer;
}
.contactFormButtons button:hover {
    background-color: whitesmoke;
    color: rgb(176, 136, 7);
}

.contactUnvisibleblock2 {
    padding-bottom: 3vh;
    text-align: center;
    border-left: rgb(127, 99, 5) 7px solid;
}
.picPlus__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactUnvisibleblock2 .picPlus {
    width: 25rem;
    margin: 2vh auto;
    
}
.contactUnvisibleblock2__icon_iconsSry {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.contactUnvisibleblock2 .fac,
.contactUnvisibleblock2 .inst,
.contactUnvisibleblock2 .github,
.contactUnvisibleblock2 .twitter {
    width: 5rem;
    border-radius: 17px;
    cursor: pointer;
}
.contactUnvisibleblock2 .fac:hover,
.contactUnvisibleblock2 .inst:hover,
.contactUnvisibleblock2 .twitter:hover,
.contactUnvisibleblock2 .github:hover {
    background-color: rgb(3, 43, 43);
}

.contactUnvisibleblock2 .github,
.contactUnvisibleblock2 .twitter {
    border-radius: 200px;
}

@media (max-width: 1200px) {
    .contactMain {
        left: 10vw;
    }
    .contactUnvisibleblock2 .picPlus {
        width: 17rem;
        margin: 0 auto;
    }
    .contactUnvisibleblock2 .fac,
    .contactUnvisibleblock2 .inst,
    .contactUnvisibleblock2 .github,
    .contactUnvisibleblock2 .twitter {
        width: 4rem;   
    }
}
@media (max-width: 900px) {
    .contactUnvisibleblock2 .picPlus {
        width: 13rem;
    }
    .contactUnvisibleblock2 .fac,
    .contactUnvisibleblock2 .inst,
    .contactUnvisibleblock2 .github,
    .contactUnvisibleblock2 .twitter {
        width: 3rem;   
    }
}
@media (max-width: 700px) {
    .contactMain {
        top: 7vh;
    }
    .contactUnvisibleblock2 .picPlus {
        width: 11rem;
    }
    .contactUnvisibleblock2 .fac,
    .contactUnvisibleblock2 .inst,
    .contactUnvisibleblock2 .github,
    .contactUnvisibleblock2 .twitter {
        width: 2rem;   
    }
}
@media (max-width: 600px) {

    .contactMain {
        position: fixed;
        top: 7vh;
        left: 3vw;
        width: 85vw;
        height: 75vh;
        font-size: 1.4rem;
    }

    .contactUnvisibleblock1,
    .contactUnvisibleblock2 {
        margin: 5vh 0vw;
        padding: 1vh 1vw;
        width: 100%;
    }
    .contactUnvisibleblock1 {
        display: none;
    }
   
    .contactUnvisibleblock2 {
        padding-bottom: 3vh;
        text-align: center;
        width: 100%;
        border-left: none;
        border-top: rgb(127, 99, 5) 7px solid;
        border-bottom: rgb(127, 99, 5) 7px solid;
    }
    
    .contactUnvisibleblock2 .fac,
    .contactUnvisibleblock2 .inst,
    .contactUnvisibleblock2 .github,
    .contactUnvisibleblock2 .twitter {
        width: 3.5rem;   
    }
}
@media(max-width: 300px) {
    .contactMain {
        top: 7vh;
        left: -5vw;
        width: 90vw;
        height: 80vh;
    }
    .contactUnvisibleblock2 .fac,
    .contactUnvisibleblock2 .inst,
    .contactUnvisibleblock2 .github,
    .contactUnvisibleblock2 .twitter {
        width: 3rem;   
    }

}