.main {
    position: fixed;
    top: 4vh;
    left: 5vw;
    width: 80vw;
    height: 75vh;
    box-sizing: border-box;
    background-color: rgba(34, 32, 19, 0.372);
    padding: 5rem 3vw;
    margin: auto;
    border-radius: 15px;
    /* transition: transform 4s ease-in-out;
    transform: translateX(101%); */
    transform: translateX(100%);
    line-height: 3.2rem;
}
.main h1 {
    margin: 5rem 0;
    font-size: 3rem;
}
.main h3 {
    font-size: 2rem;
}
.main p {
    font-size: 1.7rem;
}
.main h4 {
    font-size: 2rem;
}
/* .button {
    margin: 4rem auto;
    width: 250px;
    height: 70px;
    font-size: 2rem;
    background-color: rgb(176, 136, 7);
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
} */
.button {
    position: relative;
    top: 5rem;
    left: 0;
    margin: auto;
    width: 300px;
    height: 50x;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    cursor: pointer;
}
.triangl1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 90px solid rgb(42, 35, 4);
    border-right: 320px solid transparent;
}
/* .triangl1:hover {
    border-top: 90px solid red;
} */
.button__descr {
    position: absolute;
    font-size: 34px;
    width: 200px;
    top: 24px;
    left: 60px;
    color: rgb(176, 136, 7);
    z-index: 5;
    background-color: transparent;
    border: none;
}
.button__descr:hover {
    color: white;
    background-color: transparent;
}
.triangl2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 320px solid rgb(3, 43, 43);
    border-top: 90px solid transparent;
}
/* .triangl2:hover {
    border-right: 320px solid rgb(42, 35, 4);
} */
/* .rect {
    width: 20vw;
    height: 60px;
    font-size: 2rem;
    background-color: rgb(176, 136, 7);
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
} */

@media (max-width: 1200px) {
    .main {
        left: 10vw;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 0;
        line-height: 2rem;
        top: 7vh;
    }
    
    .main h1 {
        margin: 1rem 0;
        font-size: 1.7rem;
    }
    .main h3 {
        font-size: 1rem;
    }
    .main p {
        font-size: 1rem;
    }
    .main h4 {
        font-size: 1rem;
    }
    .button {
        position: relative;
        top: 5rem;
        left: 0;
        margin: auto;
        width: 300px;
        height: 50x;
    }
    .triangl1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 70px solid rgb(42, 35, 4);
        border-right: 270px solid transparent;
    }
    .button__descr {
        position: absolute;
        font-size: 24px;
        width: 150px;
        top: 20px;
        left: 60px;
        color: rgb(176, 136, 7);
        z-index: 5;
        background-color: transparent;
        border: none;
    }
    .button__descr:hover {
        color: white;
        background-color: transparent;
    }
    .triangl2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-right: 270px solid rgb(3, 43, 43);
        border-top: 70px solid transparent;
    }
}