/* .main::before {
    content: "";
    animation: closeIframes 4s ease-out forwards;
} */
.main {
  box-sizing: border-box;
  background-color: rgba(34, 32, 19, 0.372);
  width: 80vw;
  height: 72vh;
  padding: 1rem 0;
  margin: auto;
  border-radius: 15px;
  /* transform: translateX(100vw); */
  
}
/* .main::after {
    content: "";
    animation: openIframes 4s ease-out forwards;
}
 */
.main h1 {
  font-size: 2.5rem;
}
.main h4 {
  font-weight: 100;
}

.block1 {
  padding: 1rem 0;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main img {
  width: 37vw;
  /* height: 31.5vh; */
  border-radius: 15px;
  cursor: pointer;
}
.main img:hover {
  transform: scale(1.03);
}
.descript {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.main p {
  width: 30vw;
  text-align: center;
  font-size: 1.2rem;
}

/* .slides-enter {
  opacity: 0;
}
.slides-enter-active {
  animation: openIframes 0.4s ease-out forwards;
}
.slides-exit {
  opacity: 1;
}
.slides-exit-active {
  animation: closeIframes 0.4s ease-out forwards;
}

@keyframes openIframes {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(50vw);
  }
}
@keyframes closeIframes {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(-50vw);
  }
} */