.main {
    /* background-image: url("../img/logo.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 5.7rem;
    height: 5.7rem;
    margin: auto;
}
.pWord {
    font-family: "EnchantedLand";
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 49vw;
    font-size: 4rem;
    font-weight: 400;
}
.sWord {
    font-family: "EnchantedLand";
    margin: 0 auto;
    position: absolute;
    top: 3vh;
    left: 49.7vw;
    font-size: 4rem;
    font-weight: 400;
}

@media (max-width: 600px) {
    .main {
        width: 4rem;
        height: 4rem;
        display: none;
    }
}