.mainContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 11vw;
    border-left: rgb(127, 99, 5) 7px solid;
    display: flex;
    flex-direction: column;
}

.ul {
    margin: auto 0;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    /* justify-content:baseline;
    align-self:flex-end; */
}

.li {
    margin: 0.1rem 0;
    background-color: rgba(34, 32, 19, 0.372);
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    color: rgb(176, 136, 7);
    cursor: pointer;
}
.li:hover,
.a:hover {
    transform: translateY(0.2rem);
}
.a {
    position: relative;
    bottom: -18rem;
    right: 0;
    margin: 0;
    background-color: rgba(18, 22, 162, 0.139);
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(176, 136, 7);
    cursor: pointer;
}

.facPic {
    width: 3vw;
    background-color: aliceblue;
    border-radius: 10px;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    cursor: pointer;
}
.facPic:hover {
    background-color: rgba(18, 23, 162, 0.559);
    transform: scale(1.1);
}
.socalPics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 1rem;
    width: 10.5%;
    margin: 0 0.25rem;
}
.socalPics a {
    width: 2rem;
    display: flex;
    flex-direction: row;

    /* margin: 0 auto; */
}
.fac,
.inst,
.github,
.twitter {
    width: 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.fac:hover,
.inst:hover,
.twitter:hover {
    background-color: whitesmoke;
}
.github:hover {
    background-color: blue;
}
.github,
.twitter {
    border-radius: 200px;
}

@media (max-width: 1200px) {
    .socalPics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fac,
    .inst,
    .github,
    .twitter {
        width: 3rem;
        padding: 0.4rem 0;
    }

    .mainContainer {
        display: none;
    }

}

.arrow {
    width: 1rem;
    height: 2rem;
    position: relative;
    top: 0;
    right: 10rem;
    background-image: url(../img/arrowVektWhite.png) cover;
}

/* @media (max-width: 1200px) {
    .closeXMain {
        right: 6.5vw;
    }
}
@media (max-width: 1500px) {
    .closeXMain {
        right: 5.5vw;
    }
}
@media (max-width: 1400px) {
    .closeXMain {
        right: 5.5vw;
    }
}
@media (max-width: 1100px) {
    .closeXMain {
        height: 2.5rem;
        width: 2.5rem;
        right: 4vw;
    }
}
@media (max-width: 700px) {
    .closeXMain {
        height: 2rem;
        width: 2rem;
        right: 2vw;
    }
} */