html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.1rem;
  font-family: "lumiera",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  src: local("lumiera"), url("./fonts/Lumiera.woff");
  font-family: "Lumiera";
}
@font-face {
  src: local("enchanted"), url("./fonts/EnchantedLand.otf");
  font-family: "EnchantedLand";
}