.main {
    height: 3rem;
    width: 3rem;
    background-image: url("../../img/vector-cross.png");
    background-size: cover;
    position: fixed;
    right: 7vw;
    top: 10vh;
    z-index: 201;
    cursor: pointer;
    background-color: rgb(127, 99, 5);
}

.main:hover {
    background-color: rgb(189, 1, 1);
    transform: scale(1.1);
}
.main:active {
    background-color: rgb(0, 255, 247);
}